.qrBox {
    //margin-top: 10%;
    text-align: center;
    color: var(--td-text-color-secondary);
    position: relative;
    top: 15%;

    img {
        width: 150px;
        height: 150px;
        border-radius: 9px;
        background: var(--td-brand-color);
    }

    .tips {
        font-size: 12px;
    }
}

.captchaButton {
    margin-left: 15px;
}
