.layoutMain {
    height: 100vh;

    .navBox {
        width: 100%;
        height: 100%;
        padding: 0 15px;
        box-sizing: border-box;

        .logBox {
            height: 100%;

            h3 {
                margin: 0;
            }

            .logo {
                width: 36px;
                height: 36px;
                background-color: var(--td-bg-color-container);
                margin-right: 15px;
            }
        }
    }
}

@supports (-webkit-touch-callout: none) {
    .layoutMain {
        height: -webkit-fill-available;
    }
}

